@model Lab21__22.Models.UserDetailsViewModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Summary</title>
</head>
<body>
    <h1>Thank you for registering! Please confirm the information below is correct:</h1>
    <p>Name:</p>@Model.FirstName @Model.LastName
    @Model.City
    @Model.State
    @Model.Email
    @Model.Username
</h1>
</body>

</html>
